.card__player {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--dark);
}

.poster {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.play__pause {
  position: relative;
  width: 40px;
  height: 40px; 
}

.play__pause img {
  position: absolute;
  width: 100%;
  border-radius: 50%;
}

@keyframes spinning__wheel {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.spinning__wheel {
  width: 100%;
  height: 100%;
  animation-name: spinning__wheel;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}




@media (max-width: 768px) {
  .card__player {
    width: 150px;
    height: 150px;
    padding: 15px;
  }
}

@media (max-width:500px) {
  .card__player {
    width: 130px;
    height: 130px;
    padding: 5px;
  }
}