html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*----------------------------------------------------*\
  # F O N T E S  &  C O R E S
\*----------------------------------------------------*/

@font-face {
  font-family: Pricedown;
  src: url("./assets/fonts/pricedown.otf");
}

@font-face {
  font-family: Bank Gothic;
  src: url("./assets/fonts/bankgothic.ttf");
}


body {
  --dark: #3d3934;
  --dark-inactive:#8192a2;
  --darkest:#272727;
  --light: whitesmoke;
  --contrast: #fad88f;
  
  background-color: var(--dark);
}
